spring:
  application:
    name: gateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: internal-api
              uri: http://localhost:8080
              predicates:
                - Path=/api/**

server:
  port: 8181

jwt:
  secret: {JWT_SECRET}
