spring:
  application:
    name: gateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: wallet-service
              uri: http://localhost:8081
              predicates:
                - Path=/api/wallet/**
            - id: order-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/order/**

server:
  port: 8080

jwt:
  secret: my-secret-key-my-secret-key-my-secret-key
